@import url(reset.css);

body{
    margin: 0;
}
a {
    color: #000;
    text-decoration: none;
}
select::-ms-expand {
    display: none;
}
.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 130px;
    font-size: 19px;
}
.about_us {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 40px;
}
.about_us > li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2px;
    transition: background-color 0.5s;
}
.about_us > li:hover{
    background-color: #fedd2d;
}
.about_us > li > a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.selected {
    text-transform: uppercase;
    background-color: #fedd2d;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 130px;
    background-color: #323240;
}
.logo-container > a > img {
    width: 100%;
}

.logo-container::before {
    content: '';
    display: block;
    position: relative;
    z-index: 1;
    top: 115px;
    width: 350px;
    height: 35px;
    background-image: url(/images/subtract.svg);
    background-repeat: no-repeat;
}
.search-container {
    cursor: pointer;
    width: 30px;
    height: 30px; 
    border-radius: 50%; 
    background-color: white; 
    box-shadow: 0 0 4px 7px #b5b5b5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.search-icon {
    width: 70%;
    height: 70%;
}
.languages {
    cursor: pointer;
    font-weight: 700;
    border: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.first_section {
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/MicrosoftTeams-image-301.png);
    box-shadow:0 0 0 500px rgba(0, 0, 0, 0.3) inset;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.first_section__container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}
.first_section__container > hr {
    width: 100%;
    border: 2px solid #fedd2d;
}

.first_section_moreBtn{
    margin-top: 60px;
    background-color: #fedd2d;
    color: #000;
    border: 2px solid #fedd2d;
    width: 40%;
    height: 20%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.first_section_moreBtn:hover{
    background-color: rgba(254, 221, 45, 0.4);
    opacity: 1;
    color: #ffda09;
}
.container_title {
    margin-bottom: 15px;
    font-size: 60px;
    text-transform: uppercase;
}
.container_description {
    font-size: 20px;
    margin-top: 15px;
}
.second_section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100%;
    height: 200px;
}
.second_section > div {
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    border: 0.9px solid rgb(209, 209, 209);
    transition: background-color 0.3s ease;
}
.second_section > div:hover {
    background-color: #fedd2d;
}
.second_section > div:hover > img {
    background-color: #fff;
}

.second_section > div:first-child,
.second_section > div:last-child {
    flex-grow: 0; 
    width: 10%; 
}

.second_section > div > img {
    padding: 10px;
    background-color: rgb(238, 238, 238);
    margin-left: auto;
    transition: background-color 0.3s ease;
}
.handshake {
    width: 10%;
}
.percantage {
    width: 7%;
}

.section__why-we > h4 {
    margin-bottom: 10px;
    margin-top: auto;
    font-size: 30px;
    font-weight: 700;
}
.section__why-we > p{
    font-size: 40px;
    font-weight: 300;
}
.section__partners > h4 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}
.section__partners > p{
    font-size: 25px;
    font-weight: 100;
}
.section__sales > h4{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}
.section__sales > p {
    font-size: 25px;
    font-weight: 100;
}

.third_section {
    padding: 8em;
    margin-top: 15em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
/* .section__how-to-use {
    gap: 10px;
} */
.section__how-to-use > h2 {
    font-size: 25px;
    font-weight: 400;
    color: #ffda09;
}
.section__how-to-use > p {
    font-size: 30px;
    font-weight: 700;
}
.section__step-one {
    width: 50%;
    height: 12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7em;
    padding: 2em;
    background-color: #e7e7e7;
}
.section__step-one::after {
    content: '';
    position: relative;
    left: 212px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 128px solid transparent;
    border-left: 180px solid red;
    border-bottom: 128px solid transparent;
}
.section__step-one > p {
    font-size: 90px;
    font-weight: 100;
}
.step-one_store {
    display: flex;
    justify-content: end;
    align-items: center;
}
.step-one_store > img {
    width: 30%;
}
.step-one_store > p {
    width: auto;
    height: auto;
}
.section__step-two {
}
.step-two_percent {

}
.step-two_percent > img {
    width: 10%;
}
.section__step-three {
}

.step-three_buy {

}
.step-three_buy > img {
    width: 10%;
}

